.header-block {
	text-align:center;
	margin: 1rem;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.headerInfo {
	margin-right: auto;
}

.button-container {
	margin-bottom: 1rem;
}

.timelineButtons button {
	margin: 0.5rem;
}

.button-container > .mdl-progress {
	width: 100%;
	margin: 0 1rem 0 1rem;
}